.calculadora{
    width: 200px;
}
.calculadora-conteudo{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5px;
}
.calculadora-numeros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 5px;
}